.navbar {
display: flex;
color: black;
justify-content: space-between;
background-color: #1B2423;
border-radius: 40px;
padding: 20px;
text-decoration: none;
list-style: none;
}
a:link{
    color: wheat;
}
a:visited{
    color: wheat;
}
a:hover {
    color: red;
    text-decoration: none;
    size-adjust: 40px;
}
